# .npmrc file
#
# must be mode 600 to be used, eg, `chmod 600 .npmrc`
#
# ------------------------------------------------------------------------------
# loglevel: "silent", "error", "warn", "http", "info", "verbose", "silly"
#
# I think default is "warn".  "silent" kills the half-screen worth of error
# messages from npm when things go error-y, especially awful when running
# scripts via `npm run`.

loglevel = "silly"
